/* Home */
.body-logged-out {
  background: url(images/bg.jpg) 0 0 no-repeat;
}

@media (min-width: 768px) {
  .body-logged-out {
    background-position: 0 100px;
    background-size: cover;
  }
}

.bg-cloud {
  background-color: rgba(240, 240, 240, 0.95);
}

.text-primary {
  color: var(--osu-orange) !important;
}

.btn-link {
  color: var(--osu-orange) !important;
}

.btn-link:hover {
  color: var(--osu-orange-secondary) !important;
}
